DATABASE_URL=file:./dev.db

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=leontevegor57@gmail.com
SMTP_PASS=сюда_пароль_приложения_google
CONTACT_FROM_EMAIL=leontevegor57@gmail.com
CONTACT_TO_EMAIL=leontevegor830@gmail.com